<% layout('/layouts/boilerplate') -%>
  <div class="container my-4">
    <h1 class="mb-4">Lists</h1>
    <div class="text-end mb-4">
    </div>
    <div class="row">
      <% for(let listing of listings){ %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 listng-card">
            <a href="/listings/<%= listing._id %>">
              <img src="<%= listing.image.url %>" height="300px" class="card-img-top card-img"
                alt="<%= listing.image.filename %>" />
            </a>
            <div class="card-body listing-card-body">
              <a href="/listings/<%= listing._id %>">
                <h5><b><%= listing.title %></b></h5>
              </a>
              <div><i class="fa-solid fa-location-dot"></i> <%= listing.location %>, <%= listing.country %></div>
              <div>Price: &#8377;<%= listing.price.toLocaleString("en-IN") %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>