<% layout('/layouts/boilerplate') -%>
  <div class="container my-4">
    <div class="row">
      <div class="col-lg-6 me-5 mb-2">
        <div class="card mt-1 mb-4 listng-card">
          <h1 class="card-title mb-3"><b>
              <%= listing.title %>
            </b></h1>
          <img src="<%= listing.image.url %>" height="700px" class="card-img-top show-img"
            alt="<%= listing.image.filename %>" />
          <div class="card-body listing-card-body">
            <p class="card-text">Owned by <i>
                <%= listing.owner.username %>
              </i></p>
            <p class="card-text">
              <%= listing.description %>
            </p>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i>
              <%= listing.location %>, <%= listing.country %>
            </p>
            <p class="card-text">Price: &#8377;<%= listing.price.toLocaleString("en-IN") %>
            </p>
          </div>
          <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
            <div class="d-flex justify-content-start align-items-center">
              <a href="/listings/<%= listing._id %>/edit" class="btn btn-col me-1"><i
                  class="fa-solid fa-pen-to-square"></i> Edit</a>
              <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline">
                <button type="submit" class="btn btn-dark"><i class="fa-solid fa-trash"></i> Delete</button>
              </form>
            </div>
            <% } %>
        </div>
      </div>

      <div class="col-lg-5">
        <p class="card-title mb-3 fs-1 fw-bold">Leave a review</p>
        <form method="POST" action="/listings/<%= listing._id %>/reviews" class="row g-3 needs-validation" novalidate>
          <div class="mb-3 col-12">
            <div class="star-rating">
              <i class="fa fa-star" data-index="0"></i>
              <i class="fa fa-star" data-index="1"></i>
              <i class="fa fa-star" data-index="2"></i>
              <i class="fa fa-star" data-index="3"></i>
              <i class="fa fa-star" data-index="4"></i>
            </div>
            <input type="hidden" id="rating" name="review[rating]" value="0">
          </div>
          <div class="mb-4 col-12">
            <label for="review" class="form-label">Review</label>
            <div class="input-group has-validation">
              <textarea class="form-control" id="review" name="review[comment]" rows="3" required></textarea>
              <div class="invalid-feedback">Please write some review.</div>
            </div>
          </div>
          <div class="mb-3 col-md-12">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>

      <% if(listing.reviews.length> 0) { %>
        <div class="col-12 mt-5">
          <div class="row">
            <p class="fs-1 fw-bold">All reviews</p>
            <% for (review of listing.reviews) { %>
              <div class="col-12 col-md-6 mb-3">
                <div class="card mb-2">
                  <div class="ms-2 fs-5">@<%= review.author.username %>
                  </div>
                  <div class="card-body card-padding">
                    <div class="star-rating small-rating mb-1">
                      <% for (let i=1; i <=5; i++) { %>
                        <i class="fa fa-star <%= i <= review.rating ? 'checked' : '' %>"></i>
                        <% } %>
                    </div>
                    <div class="review-item">
                      <p class="card-text review-text p-1">
                        <%= review.comment %>
                      </p>
                      <% if(currentUser && currentUser._id.equals(review.author._id)) { %>
                        <form method="POST"
                          action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                          class="delete-button">
                          <button class="btn btn-sm btn-dark"><i class="fa-solid fa-trash"></i></button>
                        </form>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>
        <% } %>
    </div>
  </div>